/* Updated CSS for GameDetailPage */
.App {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 32px;
    color: white;
    margin-top: 0;
    margin-bottom: 2%;
}

h4 {
    font-size: 17px;
    margin-top: 0;
}

p {
    font-size: 16px;
}

.game-data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.game-detail {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
}

.first-row, .second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-banner img {
    max-height: 300px;
    width: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.purchase-options a {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.purchase-options a:hover {
    background-color: #0056b3;
}

.game-info {
    padding: 0 15px;
    color: #99AABB;
}

.game-rating {
    background: #f8f8f8;
    padding: 15px;
    border-radius: 5px;
    height: fit-content;
}

.rating-bar {
    background: #4a90e2;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

.rating-bar:hover {
    background: #2171b5;
}

.review-item {
    background: #f8f9fa;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.review-item:hover {
    transform: translateY(-5px);
}

.review-item h3 {
    color: #0056b3;
    font-weight: bold;
}

.review-item h3:hover {
    text-decoration: underline;
}

.review-item p {
    font-size: 15px;
    color: #333;
    line-height: 1.5;
}

.rating-text {
    font-size: 14px;
    color: #888;
    padding: 2px 5px;
    display: inline-block;
    background-color: #eef;
    border-radius: 5px;
}

.StarRatings {
    margin-bottom: 15px;
}

.StarRatings svg {
    fill: #ffd700;
}

.StarRatings svg:hover {
    fill: #ffac33;
}
